@font-face {
    font-family: "Newtype";
    src: url("fonts/Newtype/Newtype.otf");
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: url(images/blackspirit.jpg);
    background-attachment: fixed;
    background-size: cover;
    color: white;
}

.title {
    font-family: 'Newtype';
    text-align: center;
    font-size: 650%;
    margin-top: 50px;
}

.box-main {
    position: absolute;
    display: flex;
    width: 88%;
    height: 80%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.box-medium {
    background: rgba(0, 0, 0, .8);
    flex: 0 0 510px;
    height: 90%;
    margin: 20px;
    border: 3px solid;
    border-image: linear-gradient(45deg, rgb(225, 0, 25) 0%, rgb(52, 0, 122) 100%) 1;
}

/* About box */
.about-title {
    display: flex;
    align-items: center;
    text-align: center;
    transform: translateX(12%);
    margin-top: 10%;
}

.about-img {
    text-align: center;
    display: inline-block;
    vertical-align:middle;
}

.about-titletext {
    margin-left: 20px;
    display: inline-block;
    font-family: 'Newtype';
    font-size: 540%;
}

.about-textarea {
    
}

.about-text {
    display: flex;
    align-items: center;
    padding-left: 13%;
    padding-top: 8%;
    padding-right: 12%;
    font-family: 'Newtype';
    font-size: 175%;
}

.about-social {
    display: flex;
    justify-content:space-around;
    margin: 6%;
}

/* Calculate box */
